:root {
    --primary: #17a2b8; 
    --secondary: rgb(211, 211, 211);
}
body {
  background-color:var(--secondary);
}

img {
  height: 30%;
  width: 30%;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 2rem;
    text-shadow: 2px 2px 5px white;
}

.tc {
    text-align: center;
    text-shadow: 2px 2px 3px white;
    margin-top: 2rem;
}

.card {
    border: 2px solid var(--primary);
    border-radius: 15px;
    margin: 5rem 0;
    text-shadow: 1px 1px 2px darkgrey;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(23,162,184,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(23,162,184,0);    
}

.card-header {
     border-bottom: 2px solid var(--primary);
}

.card-body img {
  border-radius: 10px;
}

.card-footer {
     border-top: 2px solid var(--primary);
}

.card-text {
  margin: 2rem 0;
}

ol li a {
  color: var(--primary);
}

ol li a:hover {
  color: black;
  text-decoration: none;
}

.formH1 {
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--primary);
}


.formContainer {
  border: 2px solid var(--primary);
  background-color: white;
  border-radius: 15px;
  padding: 2rem;
  margin-top: 4rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(23,162,184,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(23,162,184,0);

}

